# needed options
input_file_alias='%%inputFile%%'
output_file_alias='%%outputFile%%'
convert_command="Resources/ffmpeg/bin/ffmpeg -y -threads 3 -i '%%inputFile%%' -f avi -vcodec mpeg4 -b 1200k -g 300 -bf 2 -r 25 -s 720x320 -acodec libmp3lame -ab 128k '%%outputFile%%'"
# future options
temp_dir=''
pre_converting_command=''
codec_check_command=''
codec_check_regexp_module=''
codecs_not_to_convert=()
post_converting_command=''